header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: #fff;
  
}

h1 {
  font-size: 150%;
  background-color: pink;
  color: black;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 20px;
  color: pink;
}

.hero {
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  background-color: pink;
  display: inline;
  padding: 10px;
}

/* h3 {
  float: left;
} */

#work-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  
}

.work-card img {
  width: 50%;
}

.work-image {
  width: 50%;
}
